:root{
  --primary: #F1FAEE;
  --secondary: #a8dadc;
  --terciary: #023e8aff;
  --accent: #E63946;
  --text: #1D3557;
  --overlook: rgb(193, 221, 253);
}

html, body{
  height: 100%;
  margin: 0;
}

body{
  background: rgb(3,4,94);
  background: -moz-linear-gradient(138deg, rgba(3,4,94,1) 0%, rgba(0,150,199,1) 71%, rgba(202,240,248,1) 100%);
  background: -webkit-linear-gradient(138deg, rgba(3,4,94,1) 0%, rgba(0,150,199,1) 71%, rgba(202,240,248,1) 100%);
  background: linear-gradient(138deg, rgba(3,4,94,1) 0%, rgba(0,150,199,1) 71%, rgba(202,240,248,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03045e",endColorstr="#caf0f8",GradientType=1); 

  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "a a b"
                       "a a c"
                       "g h i";

  overflow: hidden;

}

.intro{
  grid-area: a;

  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;

  padding: 5rem;

  color: white;
  font-family: 'Geologica', sans-serif;
  font-size: 3rem;
}
.intro h1{
  text-shadow: white 0px 0px 6px;
}

/*ANIMATION*/
.loading{
  grid-area: c;

  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100%;
  width:  100%;

  position: relative;
  left: 15%;
}

.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ffffff33;
}

.loading svg polyline#front {
  fill: none;
  stroke: #ffffff;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 2s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}


.descripcion{
  grid-area: g;

  display: flex;
  justify-content: start;
  align-items:  center;
  flex-direction: column;

  padding-left: 5rem;

  color: white;
  font-family: 'Geologica', sans-serif;
  font-size: 1.8rem;
}

.descripcion p{
  margin: 0;
}

.enlace{
  grid-area: h;

  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
}

.comenzar, .comenzar:link, .comenzar:visited{
  padding: 1rem;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);

  color: white;
  font-family: 'Geologica', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;

  transition: ease-out 200ms;

}

.comenzar:hover{
  transition: ease-in-out 200ms;
  transform: scale(1.2);
}